<div class="container">
<div class="panel panel-default">
<div class="panel-body">
<p>
  group-detail works!
</p>
</div>
</div>
<hr>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
	<carousel>
	  <slide>
	    <img class="img-responsive center-block" src="../../assets/images/1.jpg" alt="First slide" style="display: block; width: 100%;">
	  </slide>
	  <slide>
	    <img class="img-responsive center-block" src="../../assets/images/2.jpg" alt="Second slide" style="display: block; width: 100%;">
	  </slide>
	  <slide>
	    <img class="img-responsive center-block" src="../../assets/images/3.jpg" alt="Third slide" style="display: block; width: 100%;">
	  </slide>
	</carousel>
	</div>
</div>

</div>